/*
 Global Variables
*/
:root {
    /* COLORS */
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --text-color: #eee;
    --text-color2: #aaa;
    --text-color-greyed-out: rgba(100, 100, 100, 0.2);
    --background-gradient1: black;
    --background-gradient2: #222;
    --background-lower-bound: 10%;
    --background-upper-bound: 90%;
    --my-bezier: cubic-bezier(.62, 1.83, .65, 1.12);
}

title {
    display: none;
}

html,
body {
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
    background-color: black;
    cursor: none !important;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    margin: 0;
    scroll-snap-type: none;
}

body {
    scroll-behavior: smooth;
    /* Optional: Adds smooth scrolling */
    overflow-y: scroll;
    /* Ensures vertical scrolling */
    overflow-x: hidden;
}

section {
    min-height: 100dvh;
    width: 100%;
    scroll-snap-align: start;
    background-color: black;
    overflow: hidden;
}

.introsection {
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    background: black;
    pointer-events: none;
}

#intro-video, #intro-image {
    width: 100%; /* Full width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    max-height: 100vh; /* Ensure it doesn't exceed viewport height */
    display: block;
    object-fit: cover; /* Zoom in by cropping the edges */
    object-position: center; /* Center the video content */
}

/* Media query for small displays */
@media (max-width: 768px) {
    #intro-video, #intro-image {
        object-fit: contain; /* Zoom in further on smaller screens */
        object-position: center; /* Keep the focus centered */
        transform: scale(2); /* Zoom in by 20% */
    }
}
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    text-align: center;
    background: linear-gradient(var(--background-gradient1) 0%, var(--background-gradient2) var(--background-lower-bound), var(--background-gradient2) 100%);
}

/* Keyframes to animate the gradient */
@keyframes gradientScroll {
    0% {
        background-position: calc(var(--d)/sin(var(--angle))) 0;
    }
}

.about-me {
    min-height: 200vh;
    overflow: hidden;
    background: var(--background-gradient2);
}


.glow-effect {
    position: absolute;
    width: 25px;
    /* Adjust the size of the glow */
    height: 25px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 0 25px rgba(255, 255, 255, .8);
    transform: translate(-50%, -50%);
    transition: width 0.3s var(--my-bezier), height 0.3s var(--my-bezier);
    z-index: 10000;
    mix-blend-mode:difference;
}

.glow-effect.hidden {
    width: 0;
    height: 0;
}

.container {
    display: flex;
    min-height: 100%;
    width: 100%;
    padding: 2rem;
    position: relative;
}

.container.cols {
    padding: 0;
}

.characteristics {
    border-radius: 20px;
    padding: 2rem;
    margin: 0;
    width: 85vw;
    font-size: 36px;
    line-height: 2.75rem;
    opacity: 1;
    text-align: justify;
    position: relative;
    margin: 0 auto;
    /* Center the block horizontally */
    display: block;
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.6);
    /* Glowing effect */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.characteristics.hidden {
    opacity: 0;
    transform: translateY(100px);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.features {
    width: 75vw;
    height: 20dvh;
    display: grid;
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.feature {
    --x-px: calc(var(--x) * 1px);
    --y-px: calc(var(--y) * 1px);
    --border: 2px;
    background: rgba(255, 255, 255, 0.125);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    pointer-events: none;
    opacity: 1;
    min-height: 7rem;
    transition: opacity 0.5s ease, transform 0.5s ease;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        inset: 0px;
        border-radius: inherit;
        background: radial-gradient(800px circle at var(--x-px) var(--y-px),
                rgba(255, 255, 255, 0.3),
                transparent 40%);
    }

    &:before {
        z-index: 1;
    }

    &:after {
        opacity: 0;
        z-index: 2;
        transition: opacity 0.4s ease;
    }

    &:hover:after {
        opacity: 1;
    }
}

.feature.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(5vw);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.feature-content {
    background: var(--background-gradient2);
    border-radius: inherit;
    color: white;
    text-decoration: none;
    z-index: 1;
    display: block;
    position: absolute;
    inset: var(--border);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5rem;
    padding: 1rem;
    font-size: 1vw;
    pointer-events: all;

    >strong {
        align-self: self-end;
        font-size: 2vw;
    }

    >span {
        opacity: 0.7;
    }
}

.header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: none;
}

.progress-container {
    width: 105vw;
    height: 8px;
    background: none;
    pointer-events: none;
    overflow: hidden;
    transform: translateX(-2.5vw);
}

.progress-bar {
    height: 1px;
    width: 0%;
    background: white;
    pointer-events: none;
    box-shadow: 0px 0px 5px 2px white;
}

footer {
    display: flex;
    /* Add this to enable flexbox */
    min-height: 20vh;
    width: 100%;
    font-size: 18;
    font-weight: bold;
    opacity: 25%;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    scroll-snap-align: start;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: var(--text-color2);
    transform: translateY(100%);
    padding: 50px;
    /*background: linear-gradient(var(--background-gradient2) 0%, var(--background-gradient1) var(--background-lower-bound), var(--background-gradient1) 100%);*/
    background: black;
    scroll-snap-type: none;
    scroll-snap-align: unset;
}

@media (max-width: 1500px) {
    footer {
        font-size: 14px;
    }
}

/* Medium screens (tablets and below) */
@media (max-width: 1024px) {
    footer {
        font-size: 12px;
    }
}

/* Small screens (mobile devices) */
@media (max-width: 768px) {
    footer {
        font-size: 10px;
    }
}

/* Very small screens (mobile devices) */
@media (max-width: 480px) {
    footer {
        font-size: 8px;
    }
}


/* Style for the overlay icons */
.social-icons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    z-index: 1;
    /* Make sure icons are above the video */
    pointer-events: all;
}

.social-icon {
    color: #fff;
    font-size: 3dvh;
    margin: 1.5rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15dvh);
}

.social-icon.visible {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    transition: opacity 0.5s ease, pointer-events 0.5s ease, transform 0.5s var(--my-bezier);
}

.social-icon:hover {
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px white);
    transition: transform 0.3s var(--my-bezier);
}

.quote {
    padding-top: 10vh;
    padding-bottom: 5vh;
    position: relative;
    font-family: "Courier New", monospace;
    /* Monospaced font */
    font-size: 36px;
    /* Adjust size as needed */
    line-height: 2.25rem;
    width: 55vw;
    /* Optional: Set a max-width if desired */
    display: block;
    /* Display as block to center within its container */
    margin: 0 auto;
    /* Center the block horizontally */
    text-align: center;
    /* Center the text within the block */
    opacity: 1;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.quote.hidden {
    opacity: 0;
    transform: translateY(100px);
}

@media (max-width: 1500px) {

    .quote,
    .characteristics {
        font-size: 28px;
        /* Slightly smaller font for tablets */
        line-height: 2.25rem;
    }
}

/* Medium screens (tablets and below) */
@media (max-width: 1024px) {

    .quote,
    .characteristics {
        font-size: 20px;
        /* Slightly smaller font for tablets */
        line-height: 1.75rem;
    }
}

/* Small screens (mobile devices) */
@media (max-width: 768px) {

    .quote,
    .characteristics {
        font-size: 18px;
        /* Smaller font for mobile devices */
        line-height: 1.5rem;
    }
}

/* Extra small screens (smaller mobile devices) */
@media (max-width: 480px) {

    .quote,
    .characteristics {
        font-size: 16px;
        /* Even smaller font for very small screens */
        line-height: 1.25rem;
    }
}


/*
*
* INFO BARS
*
*/
/* Style for the info bars container */
.info-bars {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: nowrap;
    overflow: hidden;
    /* Ensure bars wrap on smaller screens */
}

/* Style for each info bar */
.info-bar {
    position: relative;
    width: 20vw;
    /* Limit max width of each bar */
    height: 80vh;
    text-align: center;
    transition: width 0.5s ease;
}

/* Hover effect: Make the bar expand */
.info-bar:hover {
    width: 40vw;
    z-index: 2;
    /* Ensure it appears above other bars */
}

/* Image container for hover effects */
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 100%;
    /* Make the container take full height of the bar */
    width: 100%;
    /* Make the container take full width of the bar */
}

/* Style for images */
.bar-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Make the image take up the full width of the container */
    height: 100%;
    /* Make the image take up the full height of the container */
    object-fit: cover;
    /* Ensure the image covers the container without stretching */
    transform: translateX(0) translate3d(0, 0, 0);
    /* Start without shift */
    -ms-transform: translate3d(0, 0, 0);
    filter: grayscale(100%) blur(10px);
    /* Default greyscale */
    transition: transform 0.5s ease, filter 0.5s ease;
    /* Smooth transitions */
}

/* Hover effect: Zoom and remove greyscale */
.image-container:hover .bar-image {
    transform: scale(1.4);
    /* Zoom in without shifting */
    filter: grayscale(0%);
}

/* Hidden info */
.info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    color: white;
    padding: 10px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 5px;
}

/* Info visible on hover */
.image-container:hover .info {
    opacity: 1;
    visibility: visible;
}

/* Text formatting */
.info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.info p {
    margin: 5px 0 0;
    font-size: 14px;
}

/* Medium screens (tablets and below) */
@media (max-width: 1024px) {
    .info-bar {
        height: 60vh;
    }
    .resume-button {
        scale: 0.5;
    }
    .info h3 {
        font-size: 14px;
    }
    .info p {
        font-size: 11px;
    }
}

/* Medium screens (tablets and below) */
@media (max-width: 768px) {
    .info-bar {
        height: 50vh;
    }
    .info h3 {
        font-size: 12px;
    }
    .info p {
        font-size: 9px;
    }
}

/* Medium screens (tablets and below) */
@media (max-width: 480px) {
    .info-bar {
        height: 50vh;
    }
    .info h3 {
        font-size: 10px;
    }
    .info p {
        font-size: 8px;
    }
}
@media (max-height: 480px) {
    .info-bar {
        height: 80vh;
    }
}



/*
 *  EDUCATION SECTION
 */
.education {
    height: 110vh;
    background-color: var(--background-gradient2);
    background: linear-gradient(var(--background-gradient2) 0%, var(--background-gradient2) var(--background-upper-bound), var(--background-gradient1) 100%);
}

.education-container {
    display: flex;
    justify-content: center;
    /* Center the timeline */
    padding: 50px 0;
    padding-bottom: 10vh;
    position: relative;
    overflow: hidden;
}

h1 {
    position: absolute;
    /* Fixes the title at the top */
    top: 10px;
    left: 0;
    font-size: 64px;
    width: 100%;
    z-index: 10;
    /* Makes sure it stays above other elements */
    padding: 10px 0px;
    margin: 0;
    /* Adds some padding so the title doesn't touch the edge */
    text-align: center;
    /* Centers the text */
    font-family: 'Arial Bold', sans-serif;
    box-shadow: 0 0 10px white;
}

.timeline {
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
    /* Creates space between the title and the timeline */
    position: relative;
    width: 100vw;
    /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    /* Space between date and description */
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    transform: translateY(-50%);
}

.timeline-item-none {
    display: flex;
    justify-content: space-between;
    /* Space between date and description */
    align-items: center;
    width: 100%;
    /* Full width for each timeline item */
    margin: 20px 0;
    min-height: 10vh;
    position: relative;
}

.timeline-date {
    width: calc(25% - 25px);
    /* Adjust as needed */
    text-align: right;
    /* Align text to the right */
    font-size: 20px;
    color: var(--text-color2);
}

.timeline-date.none {
    color: var(--text-color-greyed-out);
}

.timeline-description {
    width: 75%;
    /* Adjust as needed */
    padding-left: 30px;
    /* Space from the vertical line */
    text-align: left;
}

.timeline-description h3 {
    margin: 0;
    font-size: 20px;
}

.timeline-description p {
    margin: 5px 0 0;
    font-size: 16px;
}

/* Vertical line in the center */
.timeline:before {
    content: "";
    position: absolute;
    left: 25%;
    /* Center the line */
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

/* Dots on the line */
.timeline-item:before {
    content: "";
    position: absolute;
    left: calc(25% + 1px);
    /* Center the dot */
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Dots on the line */
.timeline-item-none:before {
    content: "";
    position: absolute;
    left: 25%;
    /* Center the dot */
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.education-image {
    margin-top: 10vh;
    /* Creates space between the title and the timeline */
    display: flex;
    flex-direction: column;
    /* Stack the images vertically */
    align-items: center;
    /* Center the images horizontally */
    justify-content: center;
    gap: 10px;
    /* Add some space between the images */
}

.education-image img {
    width: 50vw;
    max-height: auto;
    border-radius: 5px;
    filter: invert(86.5%);
}

/* Medium screens (tablets and below) */
@media (max-width: 1024px), (max-height: 1024px) {
    .education-image img {
        width: 40vw;
    }
    h1 {
        font-size: 50px;
    }
    .timeline-date {
        font-size: 15px;
    }
    .timeline-item h3 {
        font-size: 15px;
    }
    .timeline-item p {
        margin: 4px 0 0;
        font-size: 12px;        
    }
    .timeline-item:before {
        width: 15px;
        height: 15px;
    }
    .timeline-description {
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .education-image img {
        width: 0;
        padding: 0;
        margin: 0;
        pointer-events: none;
    }
}

/* Small screens (mobile devices) */
@media (max-width: 768px), (max-height: 768px) {
    h1 {
        font-size: 35px;
    }
    .timeline-date {
        font-size: 15px;
    }
    .timeline-item h3 {
        font-size: 15px;
    }
    .timeline-item p {
        margin: 3px 0 0;
        font-size: 12px;        
    }
    .timeline-item:before {
        width: 12px;
        height: 12px;
    }
    .timeline-description {
        padding-left: 15px;
    }
}

/* Extra small screens (smaller mobile devices) */
@media (max-width: 480px) {
    h1 {
        font-size: 25px;
    }
    .timeline-date {
        font-size: 12px;
    }
    .timeline-item h3 {
        font-size: 12px;
    }
    .timeline-item p {
        font-size: 9.6px;        
    }
    .timeline-item:before {
        width: 10px;
        height: 10px;
    }
    .timeline-description {
        padding-left: 10px;
    }
    .education-image img {
        width: 0;
        padding: 0;
        margin: 0;
        pointer-events: none;
    }
}

@media (max-height: 480px) {
    h1 {
        font-size: 20px;
    }
    .timeline-date {
        font-size: 10px;
    }
    .timeline-item h3 {
        font-size: 10px;
    }
    .timeline-item p {
        margin: 1px 0 0;
        font-size: 7px;        
    }
    .timeline-item:before {
        width: 7px;
        height: 7px;
    }
    .timeline-description {
        padding-left: 10px;
    }
    .education-image img {
        width: 0;
        padding: 0;
        margin: 0;
        pointer-events: none;
    }
}

/*
 *  RESUME DOWNLOAD BUTTON
 */
.resume-download {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20vh;
}

.resume-download h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

.resume-button {
    display: inline-block;
    padding: 25px 35px;
    background-color: var(--background-gradient2);
    /* Adjust this color to match your theme */
    box-shadow: 0 0 10px 2px white;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}

.resume-button:hover {
    box-shadow: 0 0 10px 2px var(--primary-color);
}

.resume-button:active {
    box-shadow: 0 0 20px 4px var(--primary-color);
}

.resume-button span {
    display: block;
    text-align: center;
}


/*
 *  PROJECTS SECTION
 */



/*
 *
 *
 *  CARDS TEST
 *
 *
 */
.projects {
    background-color: var(--background-gradient1);
    overflow-x: hidden;
}

.demoWrapper {
    height: 75vh;
    -webkit-font-smoothing: antialiased;
    perspective: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    /* padding: 1px;*/
    margin-top: 200px;
    /*   background-color: #000; */
    cursor: none;
}

.carousel-footer {
    text-align: center;
    justify-content: space-between; /* Push child elements to extremes */
    font-size: 1.2rem; /* Adjust size as needed */
    position: absolute;
    top: 50%; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%) translateZ(-50px); /* Move backward in 3D space */
    transition: 0.5s ease-in-out;
    animation: pulseColor 1s infinite ease-in-out;
}

.carousel-footer.hidden {
    opacity: 0;
    transition: 0.5s ease-in-out;
}

@keyframes pulseColor {
    0%, 100% {
        color: #444;
    }
    50% {
        color: #777;
    }
}

.box {
    position: absolute;
    padding: 1rem;
    display: inline-block;
    overflow: hidden;
    cursor: none;
    pointer-events: none;
}

.creative-pro {
    box-shadow: 0 0 15px 1px white;
    color: var(--text-color);
    background: var(--background-gradient2);
    height: 75vh;
    cursor: none;
    pointer-events: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 250px;
    height: 50vh;
    max-height: 500px;
    min-height: 250px;
    padding: 10px;
    cursor: none;
    pointer-events: none;
}

.card.hovered {
    box-shadow: 0 0 15px 1px var(--primary-color);
    cursor: none;
    pointer-events: none;
}

.card h3 {
    margin: 0;
}

.card img {
    max-width: 100%;
    max-height: 60%;
    object-fit: contain; /* Ensure image fits within card boundaries */
}


.card img:first-of-type {
    margin-top: auto;
}

.spinner-container {
    position: absolute;
    top: 75%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Offset to fully center */
}

@media (max-width: 1500px) {
    .card {
        font-size: 15px;
        width: 20vw;
    }
    .carousel-footer {
        font-size: 18px;
    }
}

/* Medium screens (tablets and below) */
@media (max-width: 1024px) {
    .card {
        font-size: 12px;
        width: 20vw;
    }
    .carousel-footer {
        font-size: 15px;
    }
}

/* Small screens (mobile devices) */
@media (max-width: 768px) {
    .card {
        font-size: 10px;
        width: 25vw;
    }
    .carousel-footer {
        font-size: 12px;
    }
}

/* Very small screens (mobile devices) */
@media (max-width: 480px) {
    .card {
        font-size: 8px;
        width: 25vw;
    }
    .carousel-footer {
        font-size: 10px;
    }
}




/*
 *  SPINNER
 */

.lds-default,
.lds-default div {
    box-sizing: border-box;
}

.lds-default {
    width: 80px;
    /* Spinner size */
    height: 80px;
    color: var(--text-color2);
    /* Spinner color */
}

.lds-default div {
    position: absolute;
    width: 6.4px;
    height: 6.4px;
    background: currentColor;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 36.8px;
    left: 66.24px;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22.08px;
    left: 62.29579px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11.30421px;
    left: 51.52px;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7.36px;
    left: 36.8px;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11.30421px;
    left: 22.08px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22.08px;
    left: 11.30421px;
}

.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 36.8px;
    left: 7.36px;
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 51.52px;
    left: 11.30421px;
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62.29579px;
    left: 22.08px;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66.24px;
    left: 36.8px;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62.29579px;
    left: 51.52px;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 51.52px;
    left: 62.29579px;
}

@keyframes lds-default {

    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}
