@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/*
 Global Variables
*/
:root {
    /* COLORS */
    --primary-color: #0064ff;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --text-color: #eee;
    --background-gradient1: black;
    --background-gradient2: #222;
    --background-lower-bound: 15%;
    --background-upper-bound: 85%;
    --my-bezier: cubic-bezier(.62, 1.83, .65, 1.12);
}

title {
    display: none;
}

html,
body {
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
    background-color: black;
    cursor: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
}

body {
    scroll-behavior: smooth;
    /* Optional: Adds smooth scrolling */
    overflow-y: scroll;
    /* Ensures vertical scrolling */
}

section,
footer {
    min-height: 100dvh;
    width: 100%;
    scroll-snap-align: start;
    background-color: black;
    background: linear-gradient(var(--background-gradient1) 0%, var(--background-gradient2) var(--background-lower-bound), var(--background-gradient2) var(--background-upper-bound), var(--background-gradient1) 100%);
}

.introsection {
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    background: black;
    pointer-events: none;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    /* Full viewport height */
    text-align: center;
    overflow: scroll;
}

.about-me {
    min-height: 300dvh;
}


.glow-effect {
    position: absolute;
    width: 25px;
    /* Adjust the size of the glow */
    height: 25px;
    /* Adjust the size of the glow */
    background-color: rgba(255, 255, 255, .8);
    /* Adjust the color and opacity */
    border-radius: 100%;
    pointer-events: none;
    /* Make sure it doesn't interfere with mouse events */
    box-shadow: 0 0 25px rgba(255, 255, 255, .8);
    /* Adjust the glow effect */
    transform: translate(-50%, -50%);
    /* Center the element on the cursor */
    transition: width 0.3s var(--my-bezier), height 0.3s var(--my-bezier);
    /* Animate width and height */
    z-index: 10000;
}

.glow-effect.hidden {
    width: 0;
    height: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.features {
    width: 75vw;
    height: 20dvh;
    display: grid;
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    cursor: none;
}

.feature {
    --x-px: calc(var(--x) * 1px);
    --y-px: calc(var(--y) * 1px);
    --border: 2px;
    background: rgba(255, 255, 255, 0.125);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    pointer-events: none;
    cursor: none;
    opacity: 1;
    min-height: 7rem;
    transition: opacity 0.5s ease, transform 0.5s ease;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        inset: 0px;
        cursor: none;
        border-radius: inherit;
        background: radial-gradient(800px circle at var(--x-px) var(--y-px),
                rgba(255, 255, 255, 0.3),
                transparent 40%);
    }

    &:before {
        z-index: 1;
        cursor: none;
    }

    &:after {
        opacity: 0;
        z-index: 2;
        transition: opacity 0.4s ease;
        cursor: none;
    }

    &:hover:after {
        opacity: 1;
        cursor: none;
    }
}

.feature.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(5vw);
    cursor: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.feature-content {
    background: rgb(19, 19, 21);
    border-radius: inherit;
    color: white;
    text-decoration: none;
    z-index: 1;
    display: block;
    position: absolute;
    inset: var(--border);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5rem;
    padding: 1rem;
    font-size: 1vw;
    pointer-events: all;
    cursor: none;

    >strong {
        align-self: self-end;
        font-size: 2vw;
    }

    >span {
        opacity: 0.7;
    }
}

.header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: none;
}

.progress-container {
    width: 105vw;
    height: 8px;
    background: none;
    transform: translateX(-2.5vw);
}

.progress-bar {
    height: 1px;
    width: 0%;
    background: white;
    pointer-events: none;
    box-shadow: 0px 0px 5px 2px white;
}

footer {
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    min-height: 10dvh;
    width: 100%;
    background: black
}

/* Style for the overlay icons */
.social-icons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    z-index: 1;
    /* Make sure icons are above the video */
    pointer-events: all;
    cursor: none;
}

.social-icon {
    color: #fff;
    font-size: 3dvh;
    margin: 1.5rem;
    cursor: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15dvh);
}

.social-icon.visible {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    transition: opacity 0.5s ease, pointer-events 0.5s ease, transform 0.5s var(--my-bezier);
}

.social-icon:hover {
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px white);
    transition: transform 0.3s var(--my-bezier);
}

.bridge {
    position: relative;
    display: flex;
    top: 15dvh;
    left: 33%;
    width: 33%;
    height: 70dvh;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: none;
}

/*==================================================
 * Drop shadow effect with radial gradient
 * ===============================================*/
.bridge:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 10%;
    left: -10%;
    background: radial-gradient(ellipse 50% 100% at 100% 50%, black, transparent 50%);
}

.bridge:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 10%;
    right: -10%;
    background: radial-gradient(ellipse 50% 100% at 0% 50%, black, transparent 50%);
}

.quote-container {
    position: relative;
    display: inline-block;
    font-family: "Apple Chancery", cursive;
    color: rgba(255, 255, 255, 0.75);
    height: 100%;
    justify-content: center;
    align-items: center;

    &:before {
        content: "\201D";
        font-size: 6rem;
        color: rgba(255, 255, 255, 0.25);
        /* Adjust size as needed */
        position: absolute;
        top: -3rem;
        /* Adjust position as needed */
        left: -2rem;
        /* Adjust position as needed */
    }
}

blockquote {
    display: block;
    position: relative;
    font-size: 2rem;
    width: 100%;
    height: 70%;
    margin: 0;
    margin-top: 5%;
    padding: 2%;
    overflow: hidden;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

cite {
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1rem;
    margin: 0;
    padding-right: 10px;
    overflow: hidden;
}